@import "vendor/flexboxgrid";
@import "variables";
@import "mixins";

html {
  font-size: 10px;

  @include media-xxl {
    font-size: .7vw;
  }
}

body {
  background-color: var(--page-background);
}

.main-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  height: 100svh;
  overflow: hidden;
}