.loader {
    box-sizing: border-box;
    overflow: hidden;
}

.loader-content::after {
    content: "";
    position: absolute;
    height: 400%;
    top: -100%;
    width: 80px;
    background-color: #00FFFF30;
    transform: rotate(30deg);
    box-shadow: 0 0 2rem .4rem rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(.1rem);
    left: -100%;
    animation: shineSlide 1s infinite;
    animation-delay: 1s;
}

.loading-bar {
    display: flex;
    overflow: hidden;
    transition-duration: .5s;
    transition-timing-function: steps(1, jump-both);
}

.loading-cover {
    display: flex;
    gap: 4px;
    min-width: 278px;
}

.loading-element {
    height: 100%;
    flex-grow: 1;
    background-color: #00FFFF;
}

@keyframes shineSlide {
    0% {
        left: -120%;
    }
    100% {
        left: 120%;
    }
}