@import "../mixins.scss";

.console-screen {
    width: 100%;
    position: relative;
    height: 10%;
    border: .5rem solid var(--cyan-color);
    background-image: url("~/public/assets/images/about/section-background.png");
    animation: consoleBackground 1s infinite steps(25), consoleExtend 1s 1s linear forwards;

    &-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 32px;
        align-items: end;

        @include media-md {
            gap: 16px;
        }
    }

    &__corner {
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: contain;

        &--left {
            width: 14.7rem;
            height: 12.2rem;
            top: -2rem;
            left: -2rem;
            background-image: url("~/public/assets/images/about/left-corner.png");
        }

        &--up-right {
            width: 9.5rem;
            height: 12.5rem;
            top: -2rem;
            right: -1.5rem;
            background-image: url("~/public/assets/images/about/up-right-corner.png");
            opacity: 0;
            animation: showElement 1s steps(1) forwards;
        }

        &--down-right {
            width: 17.2rem;
            height: 11.2rem;
            bottom: -2rem;
            right: -2rem;
            background-image: url("~/public/assets/images/about/down-right-corner.png");
        }
    }

    @include media-md {
        border-width: 1rem;

        &__corner {
            &--left {
                width: 19.6rem;
                height: 16.3rem;
                top: -2.7rem;
                left: -2.7rem;
            }

            &--up-right {
                width: 12.7rem;
                height: 16.7rem;
                top: -2.7rem;
                right: -2.2rem;
            }

            &--down-right {
                width: 22.9rem;
                height: 14.9rem;
                bottom: -2.7rem;
                right: -2.7rem;
            }
        }
    }

    &__container {
        height: 100%;
        background: rgba(0, 0, 0, .25);
        overflow-y: scroll;
    }

    &__content {
        padding: 6rem;

        @include media-xl {
            padding: 6.4rem 6rem;

        }

        @include media-lg {
            padding: 9rem 7rem;

        }

        @include media-md {
            padding: 10rem 8rem;

        }

        @include media-sm {
            padding: 12rem 9rem;

        }
    }

    .exit-button {
        position: absolute;
        right: 0;
        animation: showElement 1s steps(1);
    }
}

@keyframes consoleBackground {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: 200%;
    }
}

@keyframes consoleExtend {
    0% {
        flex-grow: 0;
        background: rgba(68, 252, 229, .1);
    }
    100% {
        flex-grow: 1;
        background: rgba(68, 252, 229, .1);
    }
    
}

@keyframes blinker {
    50% {
        opacity: 1;
    }
}

@keyframes showElement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}