.exit-button {
    position: relative;
    box-sizing: border-box;
    display: flex;
    background-color: transparent;
    border: none;
    
    opacity: 1;
    cursor: pointer;
    padding: 1rem;
    border: .2rem solid var(--error-color);
    background-color: #FF004040;
    box-shadow: .2rem .2rem 0 .2rem #FF0040A0;

    img {
        position: relative;
        filter: drop-shadow(0 0 1rem #FF0000);
    }

    &:hover {
        opacity: 1;
        box-shadow: none;
        transform: translate(.4rem, .4rem);
    }
}