@import "../mixins.scss";

.projects-section {
    display: none;
    position: relative;
    padding: 3.2rem;
    padding-top: 20rem;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        @include media-md {
            gap: 10rem;
        }

        @include media-sm {
            gap: 12rem;
        }
    }

    .exit-button {
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
}