@import "../mixins.scss";

.projects-section {
    display: none;
    position: relative;
    padding: 3.2rem;
    padding-top: 3rem;
    flex-direction: column;
    gap: 32px;
    align-items: end;
    height: 100%;

    @include media-md {
        gap: 16px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        overflow-y: scroll;
        flex-grow: 1;

        @include media-md {
            gap: 10rem;
        }

        @include media-sm {
            gap: 12rem;
        }
    }
}